.message-sent {
  background-color: #007AFF;
  padding: 10px;
  color: white;
  border-radius: 15px;
}

.message-received {
  background-color: $grey;
  padding: 10px;
  border-radius: 15px;
}

.new-message {
  padding: 10px;

}

.font-blue {
  color: #007AFF;
}

